In [1]:
import copernicusmarine as cm
import json
from pprint import pprint
cm.__version__
username = 'ldrouineau'
password = '*****'

In [3]:
cm.get(
  dataset_id="cmems_obs-ins_glo_bgc-car_my_glodap-obs_irr",
        username = username,
    password = password,
    filter = '*GL_PR_BO_KCEJ-GLODAPv22023.nc'
)

INFO - 2024-12-20T08:07:24Z - Cache could not be loaded. Retrying without cache. If the problem with the cache persists, try running copernicusmarine describe --overwrite-metadata-cache
Fetching catalog: 100%|██████████| 3/3 [00:07<00:00,  2.43s/it]
INFO - 2024-12-20T08:07:32Z - Dataset version was not specified, the latest one was selected: "202211"
INFO - 2024-12-20T08:07:32Z - Dataset part was not specified, the first one was selected: "default"
INFO - 2024-12-20T08:07:32Z - Service was not specified, the default one was selected: "original-files"
INFO - 2024-12-20T08:07:32Z - Downloading using service original-files...
INFO - 2024-12-20T08:07:32Z - You requested the download of the following files:
s3://mdl-native-08/native/INSITU_GLO_BGC_CARBON_DISCRETE_MY_013_050/cmems_obs-ins_glo_bgc-car_my_socat-obs_irr_202211/CO/GL_TS_CO_DBBT-SOCATv2024.nc - 2.96 MB - 2024-11-13T09:28:31Z

Total size of the download: 2.96 MB


Do you want to proceed with download? [Y/n]:

  Y

100%|██████████| 1/1 [00:00<00:00,  1.48it/s]

[PosixPath('INSITU_GLO_BGC_CARBON_DISCRETE_MY_013_050/cmems_obs-ins_glo_bgc-car_my_socat-obs_irr_202211/CO/GL_TS_CO_DBBT-SOCATv2024.nc')]

In [1]:
import xarray as xr
import pandas as pd
import numpy as np

In [2]:
ds = xr.open_dataset('INSITU_GLO_BGC_CARBON_DISCRETE_MY_013_050/cmems_obs-ins_glo_bgc-car_my_glodap-obs_irr_202211/BO/GL_PR_BO_KCEJ-GLODAPv22023.nc')

In [6]:
# Extract LATITUDE and LONGITUDE as separate DataFrames
time_df = ds['TIME'].to_dataframe()
latitude_df = ds['LATITUDE'].to_dataframe()
longitude_df = ds['LONGITUDE'].to_dataframe()
psal_df = ds['PSAL'].to_dataframe()
deph_df = ds['DEPH'].to_dataframe()

In [4]:
time_df.reset_index(drop=True, inplace=True)
latitude_df.reset_index(drop=True, inplace=True)
longitude_df.reset_index(drop=True, inplace=True)

# Concatenate the two DataFrames along columns
merged_df = pd.concat([time_df, latitude_df, longitude_df], axis=1)

In [5]:
merged_df

                              TIME   LATITUDE  LONGITUDE
0    1972-07-24 00:00:00.000000000  44.950001 -42.001999
1    1972-07-25 00:00:00.000000000  48.000000 -42.507999
2    1972-07-27 00:00:00.000000000  51.025002 -43.016998
3    1972-07-30 00:00:00.000000000  54.091999 -42.962002
4    1972-07-31 00:00:00.000000000  56.943001 -42.557999
...                            ...        ...        ...
2743 2015-09-24 09:19:00.000000000  63.250000 -54.200001
2744 2015-09-24 15:43:00.000000000  63.500000 -53.587002
2745 2015-09-24 18:14:00.000000000  63.625000 -53.300999
2746 2015-09-24 20:39:59.999999744  63.750000 -53.000999
2747 2015-09-24 23:35:00.000000256  63.999001 -52.400002

[2748 rows x 3 columns]

In [7]:
merged_df.set_index('TIME', inplace=True)

In [8]:
merged_df

                                LATITUDE  LONGITUDE
TIME
1972-07-24 00:00:00.000000000  44.950001 -42.001999
1972-07-25 00:00:00.000000000  48.000000 -42.507999
1972-07-27 00:00:00.000000000  51.025002 -43.016998
1972-07-30 00:00:00.000000000  54.091999 -42.962002
1972-07-31 00:00:00.000000000  56.943001 -42.557999
...                                  ...        ...
2015-09-24 09:19:00.000000000  63.250000 -54.200001
2015-09-24 15:43:00.000000000  63.500000 -53.587002
2015-09-24 18:14:00.000000000  63.625000 -53.300999
2015-09-24 20:39:59.999999744  63.750000 -53.000999
2015-09-24 23:35:00.000000256  63.999001 -52.400002

[2748 rows x 2 columns]

In [9]:
tmp_df = merged_df.merge(psal_df, on="TIME", how="left")

In [11]:
final_df = tmp_df.merge(deph_df, on="TIME", how="left")

In [12]:
print(final_df.head())

             LATITUDE  LONGITUDE    PSAL         DEPH
TIME
1972-07-24  44.950001 -42.001999  35.115   680.666687
1972-07-24  44.950001 -42.001999  35.115   736.333313
1972-07-24  44.950001 -42.001999  35.115   807.666687
1972-07-24  44.950001 -42.001999  35.115   938.333313
1972-07-24  44.950001 -42.001999  35.115  1010.666687